*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* ===========Header Start========== */
header{
    background-color: black;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 2;
}

header .container{
    display: flex;
    line-height: 64px;
}

header .container .leftnav{
    display: flex;
    width: 20%;
    height: 64px;
    justify-content: space-between;
}

header .container .leftnav .logo img{
    height: 32px;
    line-height: 64px;
    margin-top: 17px;
    margin-left: 27px;
}

header .container .leftnav .login i{
    margin-left: 30px;
    line-height: 64px;
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 26px;
}



header .container .leftnav .login a{
    margin-left: 10px;
    line-height: 64px;
    text-decoration: none;
    color: white;
}

header .container .line{
    position: absolute;
    margin-left: 310px;
    margin-top: 20px;
    border-left: 0.02px solid rgb(255, 255, 255);
    height: 30px;
}

header .container .centernav{
    margin-left: 70px;
    width: 700px;
    line-height: 70px;
    align-items: center;
    
}

header .container .centernav ul{
    list-style-type: none;
    display: flex;
}

header .container .centernav ul li{
    text-decoration: none;
    min-width: 70px;

}

header .container .centernav ul li.dots{
    line-height: 48px;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

header .container .centernav ul li a{
    color: white;
    text-decoration: none;

}

header .container .rightnav{
    display: flex;
}

header .container .rightnav input{
    height: 35px;
    width: 200px;
    outline: none;
    color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    text-align: center;
    background-color: #202224;
}

header .container .rightnav button{

    margin-top: 15px;
    right: 30;
    height: 35px;
    width: 40px;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #202224;
}

header .container .rightnav input i.fa.fa-search{
    color: rgb(255, 255, 255);
}

/* ============Header End============ */


/* =============Body Start======== */
main{
    width: 95%;
    margin: auto;
    margin-top: 40px;
}

main .horz{
    display: flex;
}

main .horz .welcome{
    margin-top: 50px;
    min-width: 50%;
}

main .horz .welcome p{
    font-family: sans-serif;
    font-weight: bold;
    color: #4A4A4A;
    font-size: 22px;
}

main .horz .date{
    margin-top: 50px;
    min-width: 50%;
    text-align: right;
}

main .horz .date p{
    color: #707070;
    font-size: 24px;
    font-family: sans-serif;
}

/* main .welcome p{
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(59, 59, 59);
    display: flex;
    width: 293px;
}

.welcome{
    width: 1000px;
}

main .date p{
    font-size: 28px;
    font-family: sans-serif;
    color: rgb(172, 170, 169);
    position: absolute;
    right: 0px;
    transform: translate(0, -100%);
} */

main .maincon{
    margin-top: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 359px;
    align-items: center;
    display: flex;
}

main .maincon .leftcont{
    width: 49%;
    background: url('IMG/BBCIMG1.webp');
    height: 350px;
}

main .maincon .leftcont .leftcontxt .h1{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin-top: 250px;
    margin-left: 30px;
}

main .maincon .leftcont .leftcontxt .minitext{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 31px;
    margin-top: 10px;
}

main .maincon .leftcont:hover{
    opacity: 0.9;
    cursor: pointer;
}

main .maincon .rightcont{
    float: right;
    margin-left: 16px;
    width: 50%;
    background: rgb(255, 255, 255);
    height: 350px;
    position: relative;
}

main .maincon .rightcont .rig1{
    position: absolute;
    height: 170px;
    background: url('IMG/BBCIMG2.webp');
    width: 49%;
}

main .maincon .rightcont .rig1:hover{
    opacity: .9;
    cursor: pointer;
}

main .maincon .rightcont .rig2{
    position: absolute;
    right: 1px;
    height: 170px;
    background: url(IMG/BBCIMG3.webp);
    width: 49%;
}

main .maincon .rightcont .rig2:hover{
    opacity: .9;
    cursor: pointer;
}

main .maincon .rightcont .rig3{
    position: absolute;
    bottom: 0;
    height: 170px;
    background: url('IMG/BBCIMG4.webp');
    width: 49%;
}

main .maincon .rightcont .rig3:hover{
    opacity: .9;
    cursor: pointer;
}

main .maincon .rightcont .rig4{
    position: absolute;
    bottom: 0;
    right: 1px;
    height: 170px;
    background: url('IMG/BBCIMG5.webp');
    width: 49%;
}

main .maincon .rightcont .rig4:hover{
    opacity: .9;
    cursor: pointer;
}

main .news{
    margin-top: 40px;
}

main .news .newsline{
    margin-top: 10px;
    border-left: 4px solid red;
    height: 20px;
}

main .news .textboxnews{
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #4A4A4A;
}

main .news .newsmain{
    min-width: 80%;
    background: rgb(255, 255, 255);
    min-height: 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* padding-left: 5px;
    padding-right: 5px; */
}

main .news .newsbox1{
    height: 250px;
    width: 400px;
    background: url('IMG/bbcimg6.webp');
}

main .news .newsbox1:hover{
    cursor: pointer;
    opacity: 0.9;
}

main .news .newsbox2{
    height: 250px;
    width: 400px;
    background: url('IMG/bbcimg7.webp'); 
}

main .news .newsbox2:hover{
    cursor: pointer;
    opacity: 0.9;
}

main .news .newsbox3{
    height: 250px;
    width: 400px;
    background: url('IMG/bbcimg8.webp');
}

main .news .newsbox3:hover{
    cursor: pointer;
    opacity: 0.9;
}


main .sports{
    margin-top: 0px;
}

main .sports .sportsline{
    border-left: 4px solid rgb(255, 196, 0);
    height: 20px;
}

main .sports .textboxsports{
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #4A4A4A;
}

main .sports .sportsmain{
    min-width: 80%;
    background: rgb(255, 255, 255);
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* padding-left: 5px;
    padding-right: 5px; */
}

main .sports .sportsbox1{
    height: 250px;
    width: 400px;
    background: url('IMG/bbcimg9.jpg');

}

main .sports .sportsbox1:hover{
    cursor: pointer;
    opacity: 0.9;
}

main .sports .sportsbox2{
    height: 250px;
    width: 400px;
    background: url('IMG/bbcimg10.jpg');

    
}

main .sports .sportsbox2:hover{
    cursor: pointer;
    opacity: 0.9;
}

main .sports .sportsbox3{
    height: 250px;
    width: 400px;
    background: url('IMG/bbcimg11.jpg');
}

main .sports .sportsbox3:hover{
    cursor: pointer;
    opacity: 0.9;
}

body .reel{
    background: url('IMG/bbcbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 80%;
    height: 470px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

body .reel .reeltxt{
    position: absolute;
    margin-top: 30px;
    left: 24px;
    font-weight: bold;
    font-size:  48px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body .reel .reeltxt1{
    position: absolute;
    margin-top: 90px;
    left: 26px;
    font-size:  16px;
    font-family: sans-serif;
    color: white;
}

body .reel .reelbtn{
    display: inline-box;
    color: white;
    text-align: center;
    line-height: 25px;
    width: 130px;
    height: 27px;
    right: 40px;
    position: absolute;
    margin-top: 60px;
    border: 1.5px solid #c5c5c5;
    border-radius: 18px;
}

body .reel svg{
    position: absolute;
    right: 50px;
    margin-top: 66px;
    color: #ffffff;
}

body .reel .reelbtn:hover{
    cursor: pointer;
    background: #000000;
    opacity: .8;
}

body .reel .reelbox{
    margin-top: 130px;
    width: 400px;
    height: 300px;
    background: #e6e6e6;
}

body .reel .reelbox .reel1{
    width: 400px;
    min-height: 250px;
}

body .reel .reelbox .reel1:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}

body .reel .reelbox1{
    margin-top: 130px;
    width: 400px;
    height: 300px;
    background: #e6e6e6;
}

body .reel .reelbox1 .reel2{
    width: 400px;
    min-height: 250px;
}

body .reel .reelbox1 .reel2:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}

body .reel .reelbox2{
    margin-top: 130px;
    width: 400px;
    height: 300px;
    background: #e6e6e6;
}

body .reel .reelbox2 .reel3{
    width: 400px;
    min-height: 250px;
}

body .reel .reelbox2 .reel3:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}

/* ================Body End============== */

/* =======footer========== */

footer{
    margin-top: 50px;
    margin-bottom: 0px;
    background: #f2f2f2;
    width: 100%;
    height: 390px;
}

.footer2{
    /* margin-top: 50px; */
    margin-bottom: 18px;
    background: #4c4c4c;
    min-width: 80%;
    height: 200px;
    padding-left: 26px;
    padding-right: 26px;
}

.expobbc{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 20px 0;
}

.footer2 ul{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}

.footer2 ul li{
    margin-bottom: 10px;
    min-width: 16%;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

.footer2 ul li:hover{
    text-decoration: underline red;
    cursor: pointer;
}

.footer2 .footlinehr{
    border-bottom: 1px solid white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer2 .footer2line{
    width: 100%;
}

.footer2 .footer2line ul{
    padding: 12px 0;
    display: flex;
    width: 100%;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}

.footer2 .footer2line ul li{
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 20px;
}

.copyright p{
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

/* footer ends */